PORT=3001
NODE_ENV=development
DB_SYNC=true
DATABASE_URL=postgres://postgres:password@localhost:5432/argus
COOKIE_SAMESITE=lax
JWT_SECRET=your-secret-key-here
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password-here
